label {
    width: 150px;
    float: left;
    font-weight: bold;
}

button {
    border: 1px solid;
    border-radius: 3px;
    margin: 10px;
}

.infotable {
    border: 1px solid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
}

.table {
    overflow-x: auto;
}

.item {
    padding: 5px 0;
}

.layout{
    display: flex;
}

.layout button{
    margin: 4px;
}

.layout a{
    color: #ffffff;
    padding:0;
}

.form_account{
    display: flex;
}

@media screen and (max-width: 768px) {
    .form_account{
        display: block;
    }
}